openapi: 3.0.4
info:
  title: Mortgage Rate
  description: >-
    Mortgage Rate is a tool for retrieving current and historical US fixed-rate
    mortgage rates. It returns weekly average rates for 30-year and 15-year
    fixed mortgages from the Freddie Mac Primary Mortgage Market Survey.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/mortgagerate:
    get:
      summary: Get Mortgage Rate
      description: Get the current or historical mortgage rate for a specific type.
      operationId: mortgagerate
      parameters:
        - name: type
          in: query
          schema:
            type: string
          required: true
          description: The mortgage type
          example: 30year
        - name: year
          in: query
          schema:
            type: integer
          required: false
          description: Year to retrieve rates for (1971-present). Requires month parameter.
          example: 2023
        - name: month
          in: query
          schema:
            type: integer
          required: false
          description: Month to retrieve rates for (1-12). Required when year is specified.
          example: 6
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  rateType: 30year
                  name: 30-Year Fixed Rate Mortgage
                  term: 30
                  type: fixed
                  country: US
                  year: 2023
                  month: 6
                  count: 4
                  rates:
                    - week: '2023-06-01'
                      rate: 6.79
                    - week: '2023-06-08'
                      rate: 6.71
                    - week: '2023-06-15'
                      rate: 6.69
                    - week: '2023-06-22'
                      rate: 6.67
                  change1w: -0.02
                  changeDirection: down
                  previousRate: 6.69
                  previousDate: '2023-06-15'
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
